@font-face {
	font-family: "Montserrat-Regular";
	src: url("Montserrat-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("Montserrat-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "KaushanScript-Regular";
	src: url("KaushanScript-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("Roboto-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto-Italic";
	src: url("Roboto-LightItalic.ttf");
	font-weight: 300;
}